.bookSettings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem 1rem;

  form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    input,
    button {
      --size: 2rem;

      padding: 0.2rem;
      background: var(--bgColor);
      color: var(--mainColor);
    }

    button {
      background: var(--mainColor);
      color: var(--bgColor);
      font-size: 1rem;
      border-color: var(--mainColor);
    }

    input {
      width: 100%;
      height: var(--size);
    }

    .quadButton {
      width: var(--size);
      height: var(--size);
      font-weight: bold;
    }
  }

  &>select {
    border: 1px solid;
    color: var(--mainColor);
    background: var(--bgColor);
    font-size: 1.2rem;
  }

  .columnTypes {
    width: 15%;
    padding-right: 1rem;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    &>span {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 0.5rem 1rem;

    &>form {
      width: 60%;
    }
  }
}
