* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

input,
button {
  border: 1px solid;
}

main {
  --buyColor: rgba(13, 203, 129, 1);
  --sellColor: rgba(246, 71, 93, 1);
  --whiteColor: #eee;
  --darkColor: rgb(5, 9, 14);
  --textColor: var(--darkColor);
  --bgColor: var(--whiteColor);
  --mainColor: var(--color1, var(--textColor));

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--textColor, initial);
  background: var(--bgColor, initial);
}

.bookContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  header {
    width: 100%;
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-between;
    opacity: 0.85;

    & > span:nth-child(2) {
      width: 35%;
    }
  }

  .bookData {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    & > * {
      width: 100%;
      display: flex;
      padding: 0 0.5rem;
    }

    .dataRow {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & > span {
        width: 35%;

        &:first-child {
          width: 50%;
        }

        &:last-child {
          width: 35%;
          text-align: right;
        }
      }
    }

    section {
      height: 100%;
      align-items: flex-end;
      overflow: hidden;

      &:last-child {
        align-items: flex-start;
      }
    }

    .currentData {
      height: 15%;
      align-items: center;
      display: flex;
      align-items: center;
      gap: 10%;

      & > div {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        gap: 0.2rem;

        &>span:last-child {
          margin-bottom:0.3rem;
        }
      }

      & > span {
        opacity: 0.9;
      }
    }
  }
}

.darkTheme {
  --bgColor: var(--darkColor);
  --textColor: var(--whiteColor);
  --color1: rgb(228, 194, 6);
}

.txtSeller {
  color: var(--sellColor);
}

.txtBuyer {
  color: var(--buyColor);
}
